/* ================ 
FUENTES
================ */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

/* ================ 
ESTILOS GLOBALES
================ */
/* Definir variables CSS personalizadas */
:root {
  --bg-black-900: #000000;
  --bg-black-100: #dddddd;
  --bg-black-50: #eff0f4;
  --bg-opacity: rgba(255, 255, 255, 0.5);
  --text-black-900: #000000;
  --text-black-700: #555555;
  --text-black-600: #666666;
  --text-black-300: #bbbbbb;
  --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
  --new-shadow: 3px 3px 3px 2px #acacac;
  --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
  --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
  --inner-shadow-0: inset 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;
  --black-alpha-color: rgba(0, 0, 0, 0.7);
  /* --MODAL:  */
  --bg-modal: var(--skin-color);
  --text-modal: #ffffff;
  /* --SCROLL:  */
  --seleccion-text: #ffffff;
  --scroll-background: #bbbbbb;
  --scroll-barra: #666666;
}

/* ================ 
   Anular las variables CSS personalizadas para el tema oscuro
  ================ */
body.dark {
  --bg-black-900: #ffffff;
  --bg-black-100: #656565;
  --bg-black-50: #282c34;
  --bg-opacity: #3b2f2d83;
  --text-black-900: #ffffff;
  --text-black-700: #ffffff;
  --text-black-600: #bbbbbb;
  --outer-shadow: 3px 3px 3px #16191d, -3px -3px 3px #393f4b;
  --new-shadow: 3px 3px 3px 2px #16191d;
  --outer-shadow-0: 0 0 0 #16191d, 0 0 0 #393f4b;
  --inner-shadow: inset 3px 3px 3px #16191d, inset -3px -3px 3px #393f4b;
  --inner-shadow-0: inset 0 0 0 #16191d, inset 0 0 0 #393f4b;
  --black-alpha-color: rgba(0, 0, 0, 0.7);
  /* --MODAL:  */
  --bg-modal: var(--skin-color);
  --text-modal: #ffffff;
  /* --SCROLL:  */
  --seleccion-text: #282c34;
  --scroll-background: #616c80;
  --scroll-barra: #3f4653;
}

/* ===================
ESTILOS GENERALES
=================== */
body {
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  background-color: var(--bg-black-50);
  transition: all 0.4s;
}

body.hidden-scrolling {
  overflow-y: hidden;
}

*:not(i) {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:before,
:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.outer-shadow {
  box-shadow: var(--outer-shadow);
}

.inner-shadow {
  box-shadow: var(--inner-shadow);
}

.hover-in-shadow {
  position: relative;
  z-index: 1;
}

/* ================ NEW SHADOW PARA --SKIN-COLOR ================ */
.new-shadow {
  box-shadow: var(--new-shadow);
}

.new-shadow:hover {
  box-shadow: var(--new-shadow);
  /* padding: 10px 26px; */
  /* filter: contrast(200%); */
  filter: saturate(300%);
  filter: brightness(90%);
  color: #ffffff;
}

/* ================ NEW SHADOW PARA --SKIN-COLOR ================ */
.hover-in-shadow:hover {
  box-shadow: var(--outer-shadow-0);
}

.hover-in-shadow:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  z-index: -1;
}

.hover-in-shadow:hover:after {
  box-shadow: var(--inner-shadow);
}

.align-items-center {
  align-items: center;
}

/* ================ 
PRELOADER
================ */
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1500;
  background-color: var(--bg-black-50);
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader.fade-out {
  opacity: 0;
  transition: all 0.6s ease;

}

.preloader .box {
  width: 65px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.preloader .box div {
  height: 15px;
  width: 15px;
  background-color: var(--skin-color);
  border-radius: 50%;
  animation: loaderAni 1s ease infinite;
}

.preloader .box div:nth-child(2) {
  animation-delay: 0.1s;
}

.preloader .box div:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes loaderAni {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
  }
}

/* ==================
HEADER
================== */

.header {
  padding: 20px 15px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.header .logo a {
  display: inline-block;
  text-align: center;
  line-height: 36px;
  height: 40px;
  width: 40px;
  font-size: 24px;
  /* color: var(--skin-color); */
  border-radius: 50%;
  /* border: 2px solid none; */
  font-weight: 600;
  text-transform: uppercase;
}

.header .hamburger-btn {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  justify-content: center;
  transition: all 0.3s ease;
}

.header .hamburger-btn:after {
  border-radius: 50%;
}

.header .hamburger-btn span {
  display: block;
  height: 2px;
  width: 16px;
  background-color: var(--bg-black-900);
  position: relative;
}

.header .hamburger-btn span:before,
.header .hamburger-btn span:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-black-900);
}

.header .hamburger-btn span:before {
  top: -6px;
}

.header .hamburger-btn span:after {
  top: 6px;
}

/* ================ 
LOGOTIPO
================ */
.logo {
  width: 80px;
  height: 80px;
  position: relative;
}

/* ================ 
NAVEGACIÓN MENÚ
================ */

.nav-menu {
  position: fixed;
  background-color: var(--bg-black-50);
  padding: 0 15px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
}

.fade-out-effect {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-black-50);
  z-index: -1;
  visibility: hidden;
}

.fade-out-effect.active {
  visibility: visible;
  z-index: 1000;
  animation: fadeOut 0.3s ease-out;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.nav-menu.open {
  visibility: visible;
  opacity: 1;
  z-index: 999;
  transition: all 0.3s ease-in;
}

.nav-menu .close-nav-menu {
  height: 40px;
  width: 40px;
  display: block;
  font-size: 35px;
  line-height: 35px;
  border-radius: 50%;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  text-align: center;
  color: var(--text-black-600);
  transition: all 0.3s ease;
}

.nav-menu .close-nav-menu:after {
  border-radius: 50%;
}

.nav-menu-inner {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu ul {
  padding: 15px;
}

.nav-menu ul li {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.nav-menu ul li:last-child {
  margin-bottom: 0;
}

.nav-menu ul li a {
  display: inline-block;
  font-size: 28px;
  font-weight: 600;
  color: var(--text-black-600);
  padding: 5px 30px;
  text-transform: capitalize;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.nav-menu ul li a.active {
  color: var(--skin-color);
}

.nav-menu ul li a:after {
  border-radius: 30px;
}

.nav-menu .copyright-text {
  position: absolute;
  top: 50%;
  font-size: 15px;
  color: var(--text-black-600);
  transform: translateY(-50%) rotate(-90deg);
  left: -115px;
}

/* ===============
  PÁGINA DE INICIO
  ================ */

.btn-1 {
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 500;
  /* color: var(--skin-color); */
  /* background-color: transparent; */
  color: #eff0f4;
  background-color: var(--skin-color);
  line-height: 1.5;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.3s ease;
  display: inline-block;
  border: none;
  text-transform: capitalize;
}

.btn-1:after {
  border-radius: 30px;
}

.effect-wrap .effect {
  position: absolute;
  z-index: 1;
}

.effect-1 {
  width: 30px;
  height: 30px;
  border: 4px solid #e5b655;
  right: 8%;
  bottom: 10%;
  animation: spin 10s linear infinite;
}

.effect-2 {
  left: 3%;
  bottom: 10%;
  width: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  animation: topBounce 3s ease-in-out infinite;
}

.effect-2 div {
  height: 3px;
  width: 3px;
  background-color: #e5b655;
  margin: 0 3px 8px;
}

.effect-3 {
  height: 180px;
  width: 180px;
  border: 25px solid var(--skin-color);
  border-radius: 50%;
  left: 50%;
  top: -120px;
  animation: leftBounce 3s ease-in-out infinite;
}

.effect-4 {
  border-top: 30px solid transparent;
  border-left: 30px solid #29a71a;
  left: 30%;
  top: 20%;
  animation: spin 15s linear infinite;
}

.effect-4:before {
  content: "";
  border-top: 30px solid transparent;
  border-left: 30px solid #29a71a;
  position: absolute;
  opacity: 0.5;
  left: -35px;
  top: -25px;
}

.effect-5 {
  height: 50px;
  width: 50px;
  right: 15%;
  top: 30%;
  display: flex;
  justify-content: space-between;
  border-radius: 50%;
  overflow: hidden;
  animation: spin 10s linear infinite;
}

.effect-5 div {
  width: 1px;
  background-color: var(--skin-color);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes topBounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(25px);
  }
}

@keyframes leftBounce {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(25px);
  }
}

.section-title {
  padding: 0 15px;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 60px;
}

.section-title h2 {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  color: var(--text-black-900);
  text-transform: uppercase;
  margin: 0;
}

.section-title h2:before {
  content: attr(data-heading);
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: var(--skin-color);
}

.section.hide {
  display: none;
}

/* ================ 
  SECCIÓN INICIO
  ================ */
.home-section {
  position: relative;
}

.home-section .full-screen {
  padding: 50px 0;
  min-height: 100vh;
}

.home-section .home-text,
.home-section .home-img {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}

.home-section .home-text p {
  color: var(--text-black-300);
  font-size: 18px;
  text-transform: capitalize;
  margin: 0;
}

.home-section .home-text h2 {
  font-size: 55px;
  font-weight: 700;
  color: var(--text-black-900);
}

.home-section .home-text h1 {
  font-size: 20px;
  font-weight: 500;
  color: var(--text-black-600);
  margin: 0;
  text-transform: capitalize;
}

.home-section .home-text .btn-1 {
  margin-top: 30px;
}

.home-section .home-img .img-box {
  max-width: 450px;
  display: block;
  margin: auto;
  border-radius: 50%;
  padding: 15px;
}

.home-section .home-img .img-box img {
  width: 100%;
  border-radius: 50%;
  border: 10px solid transparent;
}